<main class="main">
  <div class="content">
    <div class="left-side">

      <div class="container">
        <h1>Conjunto de Personas</h1>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-6">
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" name="nombre" formControlName="nombre" />
              <label for="peso">Peso</label>
              <input type="number" id="peso" name="peso" formControlName="peso" />
              <label for="altura">Altura:</label>
              <input type="number" id="altura" name="altura" formControlName="altura"><br><br>

              <!-- <button type="submit">Calcular 2</button><br><br>-->
            </div>
            <div class="col-6">
              <div>
                <input type="radio" accept="yes" id="metrico" name="sistema" formControlName="sistema" value="metrico" />
                <label for="sistema">Metrico</label><br />

                <input type="radio" id="ingles" name="sistema" formControlName="sistema" value="ingles" />
                <label for="sistema">ingles</label><br />
              </div>
              <div>
                <button class="rosa" (click)="texto=dameResultado()">Muestrame Resultado</button>
                <br />
                <p>La persona a dado los siguientes datos:<br />{{texto}} </p>
                <textarea id="testeo">{{texto}}</textarea>


                <button class="align-left verde" id="calcular" type="button" (click)="cadena=onSubmit()">Calcular CADENA</button><br><br>
                <p>La CADENAAAA con datos:<br />{{cadena}} </p>
                <p id="cadena" [(ngModel)]="cadena"></p>


                <h3>FIJO resultado en vivo</h3>
                <p class="rebordeado">{{onSubmit()}}</p>
              </div>
            </div>
          </div>
        </form>
        <div>
          <h2>{{texto}}</h2>
        </div>
      </div>

    </div>
  </div>
</main>
